# HuoYu environment variables example. Copy to .env.local and fill real values.
PASSWORD=yourpassword
STEAM_API_KEY=yoursteamapikey
NETEASE_MUSIC_U=yourneteasemusicu
NEXTAUTH_SECRET=yourrandomstring
GITHUB_TOKEN=yourgithubtoken
WAKATIME_API_KEY=yourwakatimeapikey
WEGAME_TGP_ID=yourwegame_tgp_id
WEGAME_COOKIE=yourwegamecookie
